/* swipe */
.swipe-enter {
    transform: translateX(100vw);
    z-index: 1;
}

.swipe-enter.swipe-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in;
}

.swipe-exit {
    transform: translateX(0);
    z-index: 1;
}

.swipe-exit.swipe-exit-active {
    transform: translateX(-100vw);
    transition: transform 300ms ease-in;
}